
<%- include("includes/head.ejs") %>
  <body>
    <%- include("includes/nav.ejs") %>
    <form action="/" method="POST">
      <label for="name">Enter your name:</label>
      <input type="text" id="name" name="name" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
