<nav>
  <ul>
    <li>
      <a href="/" class="<%= path === '/home' ? 'active' : '' %>">Home</a>
    </li>
    <li>
      <a href="/users" class="<%= path === '/users' ? 'active' : '' %>"
        >Users</a
      >
    </li>
  </ul>
</nav>
